[submodule "3rd/protobuf-2.6.0"]
	path = 3rd/protobuf-2.6.0
	url = git@github.com:google/protobuf.git
[submodule "3rd/gtest-1.7.0"]
	path = 3rd/gtest-1.7.0
	url = git@github.com:yun63/gtest-1.7.0.git
